/*recent-post-col////////////////////*/
.widget-sidebar {
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
}

.title-widget-sidebar {
  font-size: 14pt;
  border-bottom: 2px solid #e5ebef;
  margin-bottom: 15px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.title-widget-sidebar:after {
  border-bottom: 2px solid #f1c40f;
  width: 150px;
  display: block;
  position: absolute;
  content: "";
  padding-bottom: 10px;
}
/*categories//////////////////////*/

.categories-btn {
  background-color: #f39c12;
  margin-top: 1px;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.categories-btn:after {
  content: "\25BA";
  color: #fff;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.categories-btn:hover {
  background-color: #16a085;
  color: #fff;
}

/* sol yazılar */

article {
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
figure img {
  width: 100%;
  height: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment {
  padding: 5px;
}

/* Post tab custom css  */
.populat-post-tab {
  border: 1px solid #e0e0e0;
}

.populat-post-tab .nav-tabs {
  border: none;
}

.populat-post-tab .nav-tabs > li {
  width: 33.33333333333333%;
  text-align: center;
}

.populat-post-tab .nav-tabs > li a {
  background: #f0f5f7;
  margin-right: 0;
  border: 1px solid #e0e0e0;
  border-radius: 0;
  display: block;
  padding: 10px 0;
  font-weight: 700;
  font-size: 15px;
  color: #3a3c41;
  transition: all 0.01s;
}

.populat-post-tab .nav-tabs > li.active a {
  border-top: 2px solid #018ebb;
  border-bottom: none;
  border-left: none;
  border-right: none;
  background: #ffffff;
}

.tab-post-list-wrap {
  margin: 15px 0;
  padding: 0 35px;
}

.tab-post-thumb {
  margin: 0 15px 0 0;
}

.tab-post-thumb figure {
  width: 65px;
}

.tab-post-thumb figure img {
  max-width: 70px;
}

.tab-post-title h6 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
}

.tab-post-title span {
  font-size: 12px;
  color: #999ca5;
}

.tab-post-list ul {
  list-style: none;
}

.tab-post-list ul li:before {
  content: "";
  width: 2px;
  height: 8px;
  padding: 0 4px;
  margin-right: 5px;
  background: #018ebb;
  display: inline-block;
}

.tab-post-list ul li small {
  display: block;
}

.tab-post-list ul li small abbr {
  font-size: 11px;
  line-height: 20px;
  text-decoration: none;
  border: none;
}

/* bulanık post */
.post {
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 0 1px #ccc;
}
.post img {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}
.post img:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
}
.post .content {
  padding: 15px;
}
.post .author {
  font-size: 11px;
  color: #737373;
  padding: 25px 30px 20px;
}
.post .post-img-content {
  height: 196px;
  position: relative;
}
.post .post-img-content img {
  position: absolute;
}
.post .post-title {
  display: table-cell;
  vertical-align: bottom;
  z-index: 2;
  position: relative;
}
.post .post-title b {
  background-color: rgba(51, 51, 51, 0.58);
  display: inline-block;
  margin-bottom: 5px;
  color: #fff;
  padding: 10px 15px;
  margin-top: 5px;
}
